.container {
  margin: 2rem;
  padding: 1rem;
  border: 2px solid cornsilk;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 2rem;
}
