.heading2X1 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingX1 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLarge {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMedium {
  font-size: 1.2rem;
  line-height: 1.5;
}

.roundBorder {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.listItem {
  margin: 0 0 1.2rem;
}

.listItemLine {
  margin: 0.5rem 0;
}

.listItemText:nth-of-type(n + 2) {
  margin-left: 0.5rem;
}

.lightText {
  color: #999;
}
